body {
  background-image: url("../images/pexels-markus-spiske-2818573.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Courier New", Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Times New Roman", Times, serif;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

.contain {
  background-color: beige;
}

.edit {
  font-size: 50px;
}

.brnd {
  width: 50px;
}
.hero-image {
  background-image: url("../images/pexels-mark-stebnicki-2749165.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.hero-image-1 {
  background-image: url("../images/pexels-wendy-wei-1656663.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.hero-image-2 {
  background-image: url("../images/pexels-cottonbro-4910765.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.services {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

.about-pic {
  height: 300px;
  overflow: hidden;
}
